body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

input, select {
    display: block;
    margin-bottom: 5px;
    width: 30%;
    height: 20px IM !important;
}

input[type="checkbox"] {
    display: inline;
    width: auto;
}

fieldset {
    margin: 10px auto;
    width: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#deadlineMessage{
    display: none;
    margin-top: 0;
    color: grey;
}

a, input[type="submit"]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
