body{
    font-family: sans-serif;
}

input, select{
    display: block;
    margin-bottom: 5px;
    width: 30%;
    height: 20px IM !important;
}

input[type="checkbox"]{
    display: inline;
    width: auto;
}

fieldset{
    margin: 10px auto;
    width: auto;
}